POSTGRES_USER=user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=mine_search_db
POSTGRES_PORT=5432
BACKEND_PASSWORD=change_me
BACKEND_JWT_SECRET=change_me
THREADS=500
SEARCH_MODULE=true
UPDATE_MODULE=true
UPDATE_WITH_CONNECTION=false
RUST_LOG=debug
ONLY_UPDATE_SPOOFABLE=false
ONLY_UPDATE_CRACKED=false