services:
  worker:
    #build:
    #  context: .
    #  dockerfile: worker.Dockerfile
    image: ghcr.io/kauri-off/mine_search/worker:latest
    environment:
      THREADS: ${THREADS}
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-container/${POSTGRES_DB}
      SEARCH_MODULE: ${SEARCH_MODULE}
      UPDATE_MODULE: ${UPDATE_MODULE}
      UPDATE_WITH_CONNECTION: ${UPDATE_WITH_CONNECTION}
      RUST_LOG: debug
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

  backend:
    #build:
    #  context: .
    #  dockerfile: backend.Dockerfile
    image: ghcr.io/kauri-off/mine_search/backend:latest
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-container/${POSTGRES_DB}
      BACKEND_PASSWORD: ${BACKEND_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    # ports:
    #  - "127.0.0.1:3000:3000"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    depends_on:
      - backend
    networks:
      - app-network
    # ports:
    #   - "127.0.0.1:8080:80"
    restart: unless-stopped

  postgres:
    image: postgres
    container_name: postgres-container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432/tcp"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:

volumes:
  postgres-data:
