[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
db_schema = { path = "../db_schema" }
tokio = { version = "1.49.0", features = ["full"] }

diesel = { version = "2.3.6", features = ["postgres", "chrono", "serde_json"] }
diesel-async = { version = "0.7.4", features = ["postgres", "deadpool"] }
pq-sys = { version = "0.7.5", features = ["bundled"] }
openssl-sys = { version = "0.9.111", features = ["vendored"] } 

tracing-subscriber = "0.3.22"
tracing = "0.1.44"
tower-http = { version = "0.6.8", features = ["trace", "cors"] }

chrono = { version = "0.4.43", features = ["serde"] }
serde_json = "1.0.149"
serde = { version = "1.0.228", features = ["derive"] }
jsonwebtoken = { version = "10.3.0", features = ["rust_crypto"] }
rand = "0.10.0"
cookie = "0.18.1"
lazy_static = "1.5.0"
