[package]
name = "worker"
version = "1.0.0"
edition = "2024"

[dependencies]
minecraft_protocol = { git = "https://github.com/kauri-off/minecraft_protocol.git" }
db_schema = { path = "../db_schema" }
tokio = { version = "1.49.0", features = ["full"] }

rand = "0.10.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"

diesel = { version = "2.3.6", features = ["postgres", "chrono", "serde_json"] }
diesel-async = { version = "0.7.4", features = ["postgres", "deadpool"] }
pq-sys = { version = "0.7.5", features = ["bundled"] }
openssl-sys = { version = "0.9.111", features = ["vendored"] } 

chrono = "0.4.43"
anyhow = "1.0.102"
rand_chacha = "0.10.0"
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
